*{
    margin: 0;
    padding: 0;

}

body{
    font-family: var(--title-font);
    background: var(--body-color);
    box-sizing: border-box;

}

/* ==VARIABLES== */

:root{

    /*== CORES== */
    --base-color: #302F3D;
    --body-color: #22212C;
    --text-color: #837E9F;
    --box-color :2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
    /*== FONTS== */
    
    --title-font: 'Merriweather Sans', sans-serif;

}

/* ==RESETS== */

.title{ 

   font-size: 1.438rem;
   color: var(--text-color);
   font-weight: 700;
   line-height: 1.813rem;
}
.subtitle{
    font-size: 0.813rem;
    color: var(--text-color);
}
.container{

    margin-left: auto;
    margin-right: auto;
    
    margin-top: 3.125rem;
    justify-content:center;
    width: 90%;
    background-color: var(--base-color);

    padding-top: 2rem;
    padding-bottom: 3.063rem;
    
    border-radius: 1.25rem ;
}
.grid{
    
    margin-left: 2.5rem;
 
}

li{
    list-style: none
}



/* PROFILE */

#header{

   

}

.logo img{
    display: block;
    margin: auto;
    width: 8rem;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    box-shadow: var(--box-color);
    object-fit: cover;
    margin-bottom: 1.813rem;
    transition: .3s;

}
.logo img:hover{

    width: 15rem;
}
.text{
    text-align: center;
}

.text h1{
    cursor: pointer;
    margin-bottom: 0.688rem;
    transition: .3s;
}
.text h1:hover{

    font-size: 1.800rem;
}

.text p{
font-weight: 300;
font-style:normal;
cursor: pointer;
transition: .3s;

}

.text p:hover{
    font-size: 1rem;

}

/* ==LINKS== */



