* {
    margin: 0;
    padding: 0;

}

body {
    font-family: var(--title-font);
    background: var(--body-color);
    box-sizing: border-box;

}

/* ==VARIABLES== */

:root {

    /*== CORES== */
    --base-color: #302F3D;
    --body-color: #22212C;
    --text-color: #837E9F;
    --box-color: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    /*== FONTS== */

    --title-font: 'Merriweather Sans', sans-serif;

}

/* ==RESETS== */

.title {

    font-size: 1.438rem;
    color: var(--text-color);
    font-weight: 700;
    line-height: 1.813rem;
}

.subtitle {
    font-size: 0.813rem;
    color: var(--text-color);
}

.container {

    margin-left: auto;
    margin-right: auto;

    margin-top: 1rem;
    justify-content: center;
    width: 90%;
    background-color: var(--base-color);

    padding-top: 2rem;
    padding-bottom: 3.063rem;

    border-radius: 1.25rem;

    box-shadow: var(--box-color);
}

.grid {
    margin-top: 1rem;
    margin-bottom: 1.375rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

li {
    list-style: none
}

a {
    text-decoration: none;
}

h2{
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 15.08px;
    color: var(--text-color);
}



/* PROFILE */

#header {}

.logo img {
    display: block;
    margin: auto;
    width: 8rem;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    box-shadow: var(--box-color);
    object-fit: cover;
    margin-bottom: 1.813rem;
    transition: .3s;

}

.logo img:hover {

    width: 15rem;
}

.text {
    text-align: center;
}

.text h1 {
    cursor: pointer;
    margin-bottom: 0.688rem;
    transition: .3s;
}

.text h1:hover {

    font-size: 1.800rem;
}

.text p {
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    transition: .3s;

}

.text p:hover {
    font-size: 1rem;

}

/* ==LINKS== */

.links ul li {
    display: flex;
    margin-bottom: 1.75rem;
    align-items: center;

}

i img {
    margin-right: 1.25rem;
    width: 1.5rem;


}

/* MY-PROJECTS */

.myprojcts {

    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;

    width: 90%;
    background-color: var(--base-color);

    align-items: center;

    border-radius: 1.25rem;

    box-shadow: var(--box-color);


}


.projeto {           
    margin-top: 1.875rem;
    margin-right: 9.813rem;
}


/* TECNOLOGIAS */
.tecnologias h1{
    margin-bottom: 1.25rem;
}

.frames ul li {
    text-align: center;
    border-radius: 30px;
    width: 5.375rem;
    background-color: #CB92B1;
    height: 1.5rem;
    margin-bottom: 0.938rem;
}

.frames ul {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.frames ul li a {

    color: #000000;

    margin: 0.438rem 0;
    font-weight: 700;

    line-height: 0.813;
    font-size: 0.625rem;


}

/* EXPERIENCES */

.esperiencia ul li{
list-style: disc;
margin-bottom: 1 rem;

}

.esperiencia ul li p strong{
font-size: 0.875rem;
}
@media (min-width:1200px){
 
    .container{
    margin-left: 1rem;
  
    margin-top: 1rem;

    width: 40%;
    background-color: var(--base-color);

    padding-top: 2rem;
    padding-bottom: 3.063rem;

    border-radius: 1.25rem;

    box-shadow: var(--box-color);
    }

    .links {
        position: relative;
    }
    .myprojcts{

        position: absolute;
        top: 0;
        width: 43rem;
        right: 1.800rem;
      justify-content: space-around;

    }
    .display-pc{
        display: flex;
    }

    .tecnologia{
        position: relative;
    }

    .experiences{
        position: absolute;
        top: 8rem;
        right: 24.6rem;
        width: 20rem;
    }
    .my-onix{
        position: absolute;
        top: 8rem;
        right: 1.9rem;
        width: 20rem;
    }
}