
/* RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{ 

    list-style-type: none;
}
a{
    text-decoration: none;
}


:root{
    --base-color: #302F3D;
   --box-shadow:2px 2px 2px 1px #00000033;
}

/* BASE */

body{
    font-family: 'Merriweather Sans', sans-serif;
    background: #22212C;
}

.title{
    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
    font-weight:700;
    font-size: 1.438rem;
    line-height: 1.813rem;
    text-align: center;
}

.subtitle{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    color: #837E9F;
    font-weight: 300;
    font-size: .813rem ;
    line-height: 1rem
    
}


/* CONTENDER_01 */




/* PROFILE */

.profile{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5rem ;
    padding: 2rem;
    border-radius: 1.5rem;
    height: 18.25rem;
    width: 80%;
    background: var(--base-color);
    box-shadow: var(--box-shadow);  
    


}

.perfil img {
    
    margin: auto;
    display: block;
    width: 8rem;
    height: 100%;

    border-radius: 50%;
    border: 2px solid #00FF00;

}

.apresents h1{
    margin-bottom: .688rem ;

    margin-top: 1.813rem;
}
.apresents h2{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
}

/* LINKS */

.links{
    
    
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5rem ;
    padding: 2rem;
    background: var(--base-color);
    width: 80%;
    border-radius: 1.25rem;
    box-shadow: var(--box-shadow);

}

.links ul {
  

  
   
}

.links ul li {
    position: relative;
    display: flex;
    align-items: center;
    
    ;
  
 
   
}



.links ul li img{
   
    margin-bottom: 1.25rem;
    

}

.links ul li h2{
    font-weight: 400;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    line-height:1.021rem;
    font-style: normal;

}
.toggle.icon-github {
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .projects{
    
    background: var(--base-color);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5rem ;
    padding: 2rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    border-radius: 1.25rem;

  }